.decision {
  position: absolute;
  top: 768px;
  left: 0;
  width: 1024px;
  height: 768px;
  padding: 300px 280px 0;
  background: url("../img/bg-2.jpg") no-repeat center;
  background-size: contain;
  overflow: hidden;
}

.decision__title {
  font-family: "Gotham Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin: 0;
  margin-bottom: 295px;
  color: #ffffff;
}

.decision__btn {
  position: relative;
  display: block;
  border: none;
  background: none;
  padding: 0;
  margin: 0 auto;
  font-family: "Gotham Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  z-index: 1;
  outline: none;
}

.decision__btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  border: 3px #ffffff solid;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  left: 35px;
  bottom: -26px;
}

.decision__btn::after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 700px;
  height: 120px;
  border-radius: 50%;
  left: -295px;
  bottom: -155px;
  box-shadow: 0 0 30px 30px rgba(247,139,31,1);
  background-color: rgba(247,139,31,1);
}
